
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

:root {
    --header-font: rgb(60, 10, 10);
    --header-background: rgb(185, 183, 166);
    --header-hover: rgb(165, 163, 146);
    --body-background: rgb(242, 235, 232);
    --body-font: rgb(80, 20, 20);
    --body-hover: rgb(232, 220, 215);
    --body-card: rgb(250, 248, 245);

    --maximum-page-size: 1600px;
}

html {
    background-color: var(--body-background);

    font-family: "Google Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "GRAD" 0;
}


/* Header */

header {
    color: var(--header-font);
    background-color: var(--header-background);
    display: grid;
    grid-template-columns: 48px 1fr auto;
    column-gap: 8px;
    align-items: end;
}

header span {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    height: 100%;
}

/* Hamburger */

.hamburger {
    background: none;
    border: none;
    color: var(--header-font);
    cursor: pointer;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::after {
    content: "\2630";
}

.hamburger.show::after {
    content: "\00d7";
}

/* Navigation */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
    grid-column: 1 / -1;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--header-font);
    text-decoration: none;
    transition: all .3s ease;
}

.navigation li.current {
    background-color: #eee;
}
.navigation a:hover {
    background-color: var(--header-hover);
}

/* Body */

main {
    background-color: var(--body-background);
    color: var(--body-font);
}

.padded {
    padding: 2rem 1rem;
}

.card {
    background-color: var(--body-card);
    border-radius: 12px;
    padding: 16px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 12px;
    border: 1px solid rgba(60, 10, 10, 0.1);
    overflow-wrap: break-word;
}

.card > :not(:first-child) {
  flex: 1;
}

.card-content h2 {
    margin-bottom: 10px;
}

/* Directory */

.directory-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.directory-list .card > div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.directory-list .image {
    display: none !important;
}

.directory-list > div:nth-child(odd) {
    background-color: rgb(201, 201, 201);
}

.directory-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}

.directory-grid .card {
    display: inline-block;
    align-items: center;
    text-align: center;
}

.display-method {
    position: relative;
    background-color: #f0f0f0;
    border-radius: 12px;
    padding: 4px;
    isolation: isolate;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 24px 51px 0 rgba(0,0,0,0.19);
    display: inline-flex;
}

.display-method button {
    all: unset;
    cursor: pointer;
    position: relative;
    padding: 8px 16px;
    z-index: 2;
    transition: transform 0.2s ease;
}

.display-method::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(50% - 4px);
    height: calc(100% - 8px);
    background-color: var(--body-hover, #ccc);
    border-radius: 10px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}

.display-method:has(#list-button.selected)::before {
    transform: translateX(100%);
}

.display-method button:hover {
    transform: scale(1.05);
}

.display-method button:active {
    transform: scale(0.95);
}

.directory-control {
    margin-bottom: 10px;
}

.image {
    overflow: hidden;
    max-width: 215px;
    display: inline-block;
    height: fit-content;
}

.image img {
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
}

a {
    text-decoration: none;
    color: blue;
    height: fit-content;
    width: fit-content;
}

/* Homepage */

.info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.info > div {
    border: 1px solid black;
    min-height: 200px;
}

.info > div > h2 {
    background-color: var(--header-background);
    width: 100%;
    text-align: center;
    padding: 5px;
}

.business {
    padding-top: 1rem;
    gap: 1rem;
}

.hero {
    width: 100%;
    height: auto;
    border: 1px solid black;
    aspect-ratio: 5 / 2;
    position: relative;
    overflow: hidden;
}

.hero a {
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
    background: var(--body-card);
    color: var(--body-font);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    font-size: 0.85rem;
    transition: all 0.2s ease;
    cursor: pointer;
    border: 1px solid grey;
}

.hero a:hover {
    background: var(--body-hover);
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

/* Footer */

footer {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    background-color: var(--header-background);
    color: var(--header-font);
    padding: 12px 10px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social img {
    width: 2.5rem;
    height: auto;
}

.textblock {
    display: flex;
    flex-direction: column;
}

/* Homepage weather cards */

.current-weather {
    padding: 10px;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: repeat(6, auto);
    gap: 6px;
}

.current-weather > :first-child {
    grid-row: 1 / -1;
}

.current-events {
    padding: 0.5rem 0.5rem;
}

.business .card > :first-child {
    grid-column: 1 / span 2;
}
.business .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.weather-forecast p {
    padding: 12px;
    font-size: large;
}


/* Join page */

/* Form Styling */
form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    height: 100px;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #00438b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.membership-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.membership-card {
    max-width: 600px;
    min-width: 250px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.membership-card:hover {
    transform: scale(1.05);
}

.membership-card h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    position: relative;
}

.modal-content h2 {
    margin-top: 0;
    padding-right: 86px;
    padding-bottom: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.form > h1 {
    grid-area: header;
}

.form > form {
    grid-area: form;
    width: 90%;
}

.form > .membership-cards {
    grid-area: cards;
    width: 100%;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "form"
        "cards";
}

dialog {
    display: none;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    max-width: none;
    max-height: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
}

dialog[open] {
    display: flex;
    animation: dialog-show 0.3s ease forwards;
}

dialog[open]::backdrop {
    animation: backdrop-show 0.3s ease forwards;
}

@keyframes dialog-show {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes backdrop-show {
    from { opacity: 0; }
    to { opacity: 1; }
}

.application-details {
    padding: 16px;
}

.discover-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.discover-grid > * {
    grid-area: initial;
}

.discover-card {
    margin: 1rem;
    background-color: var(--body-card);
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-areas:
    "name"
    "photograph"
    "description"
    "location";
    gap: 6px;
}

.discover-card > h2 {
    grid-area: name;
}

.discover-card > figure {
    grid-area: photograph;
    border: 1px solid black;
    overflow: hidden;
}

.discover-card > p {
    grid-area: description;
}

.discover-card > address {
    grid-area: location;
}

.discover-card img {
    width: 100%;
    max-height: 200px;
    height: auto;
    transition: transform 0.3s ease;
    overflow: hidden;
}

#visitor-info {
    margin: 20px auto;
    padding: 10px;
    background-color: var(--body-card);
    border: 1px solid #ddd;
    text-align: center;
    font-style: italic;
    width: 80%;
    max-width: 600px;
}

.padded > h1 {
    margin-top: 0;
}
