@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: var(--maximum-page-size);
        margin: 0 auto;
    }
    .hamburger {
        display: none;
    }
    .navigation {
        display: block;
    }
    .navigation.show {
        grid-column: auto;
    }
    .navigation ul {
        display: flex;
    }
    .navigation a {
        border: none;
    }
    footer {
        grid-template-columns: auto 1fr auto;
    }

    /* directory */
    .directory-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .directory-list .card > div {
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }

    /* homepage */
    .info {
        grid-template-columns: repeat(4, 1fr);
    }

    .info > :nth-child(1) {
        grid-column: span 3;
    }

    .info > :nth-child(2) {
        grid-column: span 2;
    }
}

@media only screen and (min-width: 60rem) {
    .directory-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 75rem) {
    .directory-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .business {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media only screen and (min-width: 45rem) {
    .form {
        grid-template-columns: 65% 35%;
        grid-template-areas:
            "header header"
            "form cards";
    }
}


/* 641px - 1024px */
@media (min-width: 641px) {
    .discover-card {
        grid-template-areas:
        "photograph name"
        "photograph description"
        "photograph location";
    }
    .discover-card {
        grid-template-columns: 35% 65%;
    }
    .discover-card img:hover {
        transform: scale(1.1);
        opacity: 0.9;
    }
}

/* 1025px and up */
@media (min-width: 1025px) {
    .discover-card {
        grid-template-columns: 55% 45%;
    }
    .discover-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
