@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: 1400px;
        margin: 0 auto;
    }
    .hamburger {
        display: none;
    }
    .navigation {
        display: block;
    }
    .navigation.show {
        grid-column: auto;
    }
    .navigation ul {
        display: flex;
    }
    .navigation a {
        border: none;
    }
    footer {
        grid-template-columns: auto 1fr auto;
    }
    .display-method {
        display: inline-flex;
    }
    .directory-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .directory-grid .card {
        display: inline-block;
    }
    .image {
        display: inline-block;
    }
}

@media only screen and (min-width: 55rem) {
    .directory-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 75rem) {
    .directory-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
