@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: var(--maximum-page-size);
        margin: 0 auto;
    }
    .hamburger {
        display: none;
    }
    .navigation {
        display: block;
    }
    .navigation.show {
        grid-column: auto;
    }
    .navigation ul {
        display: flex;
    }
    .navigation a {
        border: none;
    }
    footer {
        grid-template-columns: auto 1fr auto;
    }

    /* directory */
    .directory-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .directory-list .card > div {
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }

    /* homepage */
    .info {
        grid-template-columns: repeat(4, 1fr);
    }

    .info > :nth-child(1) {
        grid-column: span 3;
    }

    .info > :nth-child(2) {
        grid-column: span 2;
    }

}

@media only screen and (min-width: 60rem) {
    .directory-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 75rem) {
    .directory-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .business {
        grid-template-columns: repeat(3, 1fr);
    }
}
