body {
    font-family: sans-serif;
    background-color: var(--body-background);
    color: var(--body-text);
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

main > div {
    padding: 10px
}

h1 {
    color: var(--header-color);
}

h2 {
    color: var(--header-color);
    margin-top: 20px;
    margin-bottom: 14px;
}

#account-details {
    border: 1px solid var(--card-border);
    margin-bottom: 20px;
    background-color: var(--card-background);
    border-radius: 5px;
}

#gem-info {
    border: 1px solid var(--card-border);
    margin-bottom: 20px;
    background-color: var(--card-background);
    border-radius: 5px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    border: 1px solid var(--card-border);
    padding: 10px;
    background-color: var(--card-background);
    border-radius: 5px;
    text-align: center;
}

.card img {
    width: auto;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

input, select {
    padding: 8px;
    border: 1px solid var(--body-background);
    border-radius: 4px;
    width: 200px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

select {
    width: 350px;
    max-width: 75vw;
}

input:focus, select:focus {
    outline: none;
    border: 1px solid var(--body-hover);
    box-shadow: 0 0 5px rgba(102, 175, 229, 0.5);
}

.account-boost > p {
    padding: 2px 0 2px 0;
}

.give-me-money > button {
    margin-top: 12px;
    font-size: 20px;
}

button {
    background-color: var(--body-card);
    border: 1px solid var(--body-hover);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    white-space: nowrap;
}

button:hover {
    background-color: var(--body-hover);
    color: var(--body-background);
}

button.active {
    background-color: var(--header-background);
    font-weight: bold;
}

#login-bonus-section a {
    color: blue;
    text-decoration: none;
}

#login-bonus-list {
    margin: 16px 0 20px 0;
}

.server-time p {
    padding: 4px;
}
