main {
    background-color: var(--body-background);
    padding: 2rem;
    border-radius: 10px;
}

main h1 {
    color: var(--header-color);
    text-align: center;
    margin-bottom: 1rem;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.card {
    background-color: var(--body-card);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.card strong {
    color: var(--header-color);
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.card p {
    color: var(--body-font);
    line-height: 1.4;
}
