.page-navigation {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.page-navigation button {
    background-color: var(--body-card);
    border: 1px solid var(--body-hover);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    white-space: nowrap;
}

.page-navigation button:hover {
    background-color: var(--body-hover);
    color: var(--body-background);
}

.page-navigation button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.page-navigation button.active {
    background-color: var(--header-background);
    font-weight: bold;
}
